@model Product

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong style="width: auto; text-align: right; white-space: nowrap;">Protein:</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Protein)
            </td>
        </tr>
        <tr>
            <td>
                <strong style="width: auto; text-align: right; white-space: nowrap;">Fat:</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Fat)
            </td>
        </tr>
        <tr>
            <td>
                <strong style="width: auto; text-align: right; white-space: nowrap;">Carbohydrates:</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Carbohydrates)
            </td>
        </tr>
        <tr>
            <td>
                <strong style="width: auto; text-align: right; white-space: nowrap;">EnergyValue:</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.EnergyValue)
            </td>
        </tr>
    </tbody>
</table>