<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Sidebar-Cool-SB-Admin-Inspirate.css">
    <link href="~/css/Footer-Dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="~/css/MainLayout.css" />
    <link rel="stylesheet" href="~/css/Footer-Clean.css" />
    <link rel="stylesheet" href="~/css/Footer-Dark.css" />
    <link rel="stylesheet" href="~/css/Navigation-with-Button.css" />
    <link rel="stylesheet" href="~/css/smoothproducts.css" />
    <link rel="stylesheet" href="~/css/Article-Clean.css" />
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="~/css/Data-Table.css" />
    <link rel="stylesheet" href="~/css/Cards.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.css">
    <link rel="stylesheet" href="~/css/canito-detalle-producto.css">
    <link rel="stylesheet" href="~/css/Article-List.css">
    <link rel="stylesheet" href="~/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="~/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Online Shopping Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - ProductStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Development</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="~/Home/Contact">Company</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Online Shopping Store</h3>
                        <p>This site created by Ilya Shevchenya. ASP.NET Core project.</p>
                    </div>
                    <div class="col item social">
                        <a href="https://www.facebook.com/shevchenya.i">
                            <i class="icon ion-social-facebook"></i>
                        </a>
                        <a href="https://twitter.com/go3kqbMs46igayb">
                            <i class="icon ion-social-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="icon ion-social-snapchat"></i>
                        </a>
                        <a href="#">
                            <i class="icon ion-social-instagram"></i>
                        </a>
                    </div>
                </div>
                @*<div class="container">
                    &copy; 2020 - Shevchenya Development - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>*@
                <p class="copyright">&copy; 2020 - Shevchenya Development - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            </div>
        </footer>
    </div>
    <script src="~/js/bs-init.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="~/js/smoothproducts.min.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/Profile-Edit-Form.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
