@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<div class="alert alert-success">
    <strong style="text-align:center">@localizer["Object created successfully"]</strong>
</div>
