@model ProductStore.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="register-photo">
    <div class="form-container">
        <div class="form-horizontal">
            <div class="row">
                <form asp-action="Create" method="post" style=" width: 95%; margin-left: 20px; ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Addres" class="control-label"></label>
                        <input asp-for="Addres" class="form-control" />
                        <span asp-validation-for="Addres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AmountPaid" class="control-label"></label>
                        <input asp-for="AmountPaid" class="form-control" />
                        <span asp-validation-for="AmountPaid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentType" class="control-label"></label>
                        <input asp-for="PaymentType" class="form-control" />
                        <span asp-validation-for="PaymentType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Customer, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Customer, new SelectList(ViewBag.Customer, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label asp-for="FormedDate" class="control-label"></label>
                        <input asp-for="FormedDate" class="form-control" />
                        <span asp-validation-for="FormedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-secondary btn-lg btn-block" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
