@model ProductStore.Models.Country
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>@localizer["Edit"]</h1>

<h4>@localizer["Country"]</h4>
<hr />
@if (ViewBag.StatusMessage != null)
{
    <partial name="../Shared/_StatusMessage" model="ViewBag.StatusMessage" />
}
<div class="register-photo">
    <div class="form-container">
        <div class="form-horizontal">
            <div class="row">
                <form asp-action="Edit" method="post" enctype="multipart/form-data" style=" width: 95%; margin-left: 20px; ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CountryId" />
                    <div class="form-group">
                        <label asp-for="CountryName" class="control-label"></label>
                        <input asp-for="CountryName" class="form-control" />
                        <span asp-validation-for="CountryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryAbbreviation" class="control-label"></label>
                        <input asp-for="CountryAbbreviation" class="form-control" />
                        <span asp-validation-for="CountryAbbreviation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryCode" class="control-label"></label>
                        <input asp-for="CountryCode" class="form-control" />
                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryPicture" class="control-label"></label>
                        <input asp-for="CountryPicture" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif,.tif" />
                        <span asp-validation-for="CountryPicture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@localizer["Save"]" class="btn btn-secondary btn-lg btn-block" />
                    </div>
                </form>
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Back to List"]</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
