@{
    ViewData["Title"] = "SendWelcomMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SendMail</h1>
<form asp-action="SendWelcomeMail">
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
</form>
