@model IEnumerable<ProductStore.Models.Product>

@{
    ViewBag.Title = "FindProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("FindProduct", "Home", FormMethod.Get))
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                @Html.TextBox("searching")
                <div style="padding-left: 5px"></div>
                <div class="input-group-append">
                    <input class="btn btn-light" type="submit" value="Search" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <select class="custom-select mr-sm-2" name="Categories">
            @foreach (var value in ViewBag.Categories)
            {
                <option>@value.CategoryName</option>
            }
        </select>
    </div>
</div>

<hr />
<div class="card-columns">
    @foreach (var product in Model)
    {
        <partial name="_DisplayProductPartial" model=product />
    }
</div>