@{
    ViewData["Title"] = "Privacy Policy";
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div style="height: 1000px">
    <h1>@ViewData["Title"]</h1>

    <p>@localizer["Privacy"]<p>
</div>